body{

    font-family: 'Times New Roman', Times, serif;
    margin: 30px;
    padding: 0;
    background-color: antiquewhite;
}

h1 {

    text-align: center;
    color: black;
    font-style: italic;
    font-weight: bold;

}

form {

    max-width: 500px;
    margin: auto;
    background-color: azure;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0 , 0 , 0 , 0.5);
    padding: 20px;
}

fieldset{

    border: 2px solid gray;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: aliceblue;
}

legend {

    font-weight: bold;
    text-align: center;
    color: rgb(54, 54, 54);
}

label {

    display: block;
    margin-top: 10px;
    color: rgb(63, 62, 62);
}

input , textarea {

    width: calc(100% - 10px);
    padding: 8px;
    margin-top: 8px;
    border: 1px solid rgb(67, 68, 68);
    border-radius: 4px;
    box-sizing: border-box;
}

button{

    display: block;
    width: 100px;
    padding: 10px;
    background-color: rgb(197, 196, 195);
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

button:hover {

    background-color: rgb(70, 70, 71);
}